<h2>example 9 home</h2>
<p>here are soe links: </p>
<ul>
    <li><a href="/page1">page1</a></li>
    <li><a href="/page2">page1</a></li>
    <li><a href="/page3">page1</a></li>
    <li><a href="/page4">page1</a> (i'm the bad egg)</li>
    <li><a href="/what">????</a> (i'm also a bad egg)</li>
</ul>