<h2>tell us about yourself</h2>
<form action="/process-contact" method="post">
<div>
    <label>your name:
        <input name="name"/>
    </label>
</div>
<br>
<div>
    <label>your name:
        <input name="email"/>
    </label>
</div>
<br>
<div>
    <button type="submit">submit</button>
</div>
</form>