<h2>tell us about yourself</h2>
<form action="/process-contact" method="post">
<div>
    <label>your name:
        <input name="name">
    </label>
</div>
<br>
<div>
    <label>your email:
        <input name="email">
    </label>
</div>
<br>
<div>
    <label>simulator error:
        <input name="simulateError" type="checkbox">
    </label>
</div>
<br>
<div>
    <label>use ajax:
        <input name="useAjax" type="checkbox">
    </label>
</div>
<br>
<div>
    <button type="submit">submit</button>
</div>
</form>
<script>
    const api = {
        post(past, data){
            const body = typeof data === 'object' ? JSON.stringify(data): data
            const headers = {
                'Contant-Type': 'application/json',
                'accept': 'application/json',
            }
            return fetch(path, {method: "POST", body, header})
             .then(res => {
                if(res.status < 200 || res.status >= 400)
                return Promise.reject(new Error(`API error: ${res.status}`))
             })
        }
    }

    document.querySelector('form').addEventListener('submit', evt => {
        const formdata = new FormData(evt.target)
        if(!formdata.get(useAjax)) return

        evt.preventDefault()
        const data = {
            name: formdata.get('name'),
            email: formdata.get('email'),
            simulateError: formdata.get('simulateError'),
        }
        api.post('/process-contact', data)
        .then(() => window.location = '/thank-you')
        .catch(() => window.location = '/contact-error')
    })
</script>