<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example web with nodejs</title>
    <style>body{
        background-color: black;
        color: white;
        }</style>
</head>
<body>
    <h1>example web with nodejs</h1>
    <hr/>
    {{{body}}}
</body>
</html>